
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    color: #333;
}


header {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffffcc;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #8a4fff;
}

nav a {
    margin: 0 18px;
    text-decoration: none;
    color: #555;
    font-size: 15px;
}

nav a:hover {
    color: #8a4fff;
}

.lang {
    background: #dad9d7;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}
#home {
    background: #f5f1e8
}

.hero {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px 40px 60px;
}

.hero-text {
    max-width: 550px;
}

.hero h1 {
    font-size: 46px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 14px 26px;
    background: #8a4fff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.btn:hover {
    background: #742ee8;
}


.hero-img img {
    width: 420px;
    opacity: 0.8;
}


section {
    height: 400px; /* временно, чтобы якоря работали */
}
