body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    color: #333;
}

/* ================= HEADER ================= */

header {
    width: 100%;
    height: 80px;
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .inner {
    width: 100%;
    max-width: 1400px;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #8a4fff;
}

nav a {
    margin: 0 18px;
    text-decoration: none;
    color: #555;
    font-size: 15px;
}

nav a:hover {
    color: #8a4fff;
}

.lang {
    background: #dad9d7;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

/* ================= HERO ================= */

/* фон героя + отступ от фиксированного хедера */
.hero-wrapper {
    max-height: 600px;
    width: 100%;
    background: #f5f1e8;
    margin-top: 0px;          /* высота header */
    box-sizing: border-box;
}

.hero {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 60px;   /* верх/бока/низ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.hero-text {
    max-width: 550px;
}

.hero h1 {
    font-size: 46px;
    margin: 0 0 20px;          /* только снизу 20px */
}

.hero p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 14px 26px;
    background: #8a4fff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.btn:hover {
    background: #742ee8;
}

.hero-img img {
    width: 460px;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

/* ================= ДРУГИЕ СЕКЦИИ ================= */

section {
    padding: 0px 0;
}
